.todo-list {
  height: 50%;
  overflow: auto;
  border-radius: 5px;
  list-style-type: none;
  padding: 30px;
  margin: 0;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}